
.pie {
    display: flex;
    min-height: 100px;
    background-color: black;
    box-sizing: border-box;
    justify-content: center;

    .iconos-contactos {
        height: 48px;
        width: 48px;
    }
}

