@import url("https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Poppins:wght@200&display=swap");


* {
    font-family: "Krub", sans-serif;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

body {

    main {
        font-size: larger;
        text-align: center;

        h1 {
            font-weight: bold;
        }

        h2 {
            text-align: center;
            font-weight: bold;
        }

        h3 {
            font-size: xx-large;
            font-weight: bold;
        }

        h4 {
            font-size: xx-large;
            font-weight: bolder;
            margin-top: 10px;
        }

        p {
            text-align: center;
            font-size: x-large;
            font-weight: bold;
        }
        

}


.contenedor-fondo {
    margin-top: 20px;
    margin-bottom: 20px;
}

    .ubicaciones-obras {

        h4 {
            margin-top: 10px;
        }

        .lista {
            font-weight: bold;
            font-size: medium;
            justify-content: start;
            list-style-type: none;
            }

        .ubicacion-21 {
            height: 100vh;
            background-color: #abfae1fb;
            text-align: center;
            padding-top: 30px;
            }

        .ubicacion-22 {
            height: 500px;
            background-color: rgba(135, 247, 211, 0.984);
            text-align: center;
            padding-top: 20px;
        }

        .ubicacion-13 {
            height: 600px;
            background-color: #59f5c3fb;
            text-align: center;
            padding-top: 20px;
        } 
    }



    .datos {
        font-size: medium;
    }
    
    .fondo {
        background-color: #abfae1fb;
        margin-bottom: 20px;
        margin-top: 20px;
        }
    }


.contenedor {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    min-height: calc(100vh - (100px + 100px));
    
}


.fondo-nosotros {
    background-color: #abfae1fb;
    height: 100vh;

    h3 {
        text-align: center;
        padding-top: 50px;
    }

    .nosotros {
        margin-top: 100px;
        text-align: center;
        font-size:  x-large;
        font-weight: bold;
        justify-content: center;
    }
}

.servicio-madera {
    background-color: #abfae1fb;
    text-align: center;
    height: 300px;
}

.servicio-piedra {
    background-color: aquamarine;
    text-align: center;
    height: 300px;
}

.servicio-materiales {
    background-color: rgb(72, 252, 192);
    text-align: center;
    height: 300px;
}