header {
    background-color: #dbebe6fb;


    .nav-estilo {
        padding: 0px;

        .boton-estilo {
            background-color: #dbebe6fb;
        }

        .div-estilo {
            background-color: #dbebe6fb;
            padding: 0px;
            justify-content: center;

            a:hover {
                background-color: orange;
                border-radius: 150%;
                max-width: fit-content;
            }

            .a-estilo {
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 20px;
                font-weight: bold;
                font-size: large;
                }
            }
        }
    }
