header {
    background-color: blanchedalmond;


    .nav-estilo {
        padding: 0px;

        .boton-estilo {
            background-color: blanchedalmond;
        }

        .div-estilo {
            background-color: blanchedalmond;
            padding: 0px;
            justify-content: center;

            .a-estilo {
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 20px;
                font-weight: bold;
                font-size: large;
                }
            }
        }
    }
