header {
    background-color: #dbebe6fb;


    .nav-estilo {
        padding: 0px;

        .boton-estilo {
            background-color: #dbebe6fb;
        }

        .div-estilo {
            background-color: #dbebe6fb;
            padding: 0px;
            justify-content: center;

            .a-estilo {
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 20px;
                font-weight: bold;
                font-size: large;
                transition: .5s;
                }
            }
        }
    }
